<div id="<%= dom_id ad %>">
  <p>
    <strong>Price:</strong>
    <%= ad.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ad.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ad.status %>
  </p>

  <p>
    <strong>Copy:</strong>
    <%= ad.copy_id %>
  </p>

</div>
