  <p>
    <strong>Price:</strong>
    <%= ad.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ad.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ad.status %>
  </p>

  <p>
    <strong>Copy:</strong>
    <%= ad.copy_id %>
  </p>

  <p>
    <strong>Etat de la couverture:</strong>
    <%= ad.copy.sleeve_condition %>
  </p>

  <p>
        <%= link_to "Show this ad", ad %>
  </p>

  <p>
    <%= render 'shared/add_to_cart' %>
    <%= link_to "Edit this ad", edit_ad_path(ad) %> |
  <%= link_to "Back to ads", ads_path %>

  </p>

