<h1>Demo#show</h1>
<p>Find me in app/views/demo/show.html.erb</p>
<header>
  <!-- Navbar
      ================================================== -->
  <div class="bs-docs-section clearfix">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1 id="navbars">Navbar</h1>
          </div>
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <%= link_to albums_path, class: "navbar-brand" do %>
                <%= image_tag "Logo_Discotech_horiz_blue", size: "170x34" %>
              <% end %>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto align-items-center">
                  <form class="d-flex p-2">
                    <div class="input-group p-5">
                      <input type="text" class="form-control" placeholder="Rechercher des artistes, des albums, des genres ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-search" type="button" id="button-addon2">Search</button>
                    </div>
                  </form>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Explorer</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Marketplace</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Communauté</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                </ul>
                <div class='nav-end navbar-nav'>
                  <li class="nav-item cart-icon-cont p-2 align-items-center">
                    <i class="bi bi-cart-fill"></i>
                  </li>
                  <li class="nav-item dropdown">
                    <% if user_signed_in? %>
                      <li>
                        <%= button_to "Log out", destroy_user_session_path, class:"btn btn-warning", method: :delete %>
                      </li>
                    <% else %>
                    </li>
                    <li class="nav-item dropdown d-flex justify-content-center">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Connexion</a>
                      <div class="dropdown-menu">
                        <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-form dropdown-item' %><br/>
                        <br/>
                        <%= link_to "Log in", new_user_session_path, class: "btn btn-login dropdown-item " %>
                      </div>
                    <% end %>
                  </li>
                </div>
              </div>
            </div>
          </nav>
        </header>
        <main>
          <br>
          <br>
          <!-- Navbar
      ================================================== -->
          <div class="bs-docs-section clearfix">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="page-header">
                    <h1 id="navbars">Navbar alternative</h1>
                  </div>
                  <nav class="navbar navbar-expand-lg navbar-alt">
                    <div class="container">
                      <a id="header_logo" href="/fr" title="Aller à la page d'accueil Discogs.com">
                        <img src="assets/discogs-white-copy.svg" alt="Discogs">
                      </a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto align-items-center">
                          <form class="d-flex p-2">
                            <div class="input-group p-5 mt-3">
                              <input type="text" class="form-control" placeholder="Rechercher des artistes, des albums, des genres ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                              <button class="btn btn-search-alt" type="button" id="button-addon2">Search</button>
                            </div>
                          </form>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Explorer</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Marketplace</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Communauté</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </li>
                        </ul>
                        <li class="nav-item cart-icon-cont p-2 align-items-center">
                          <i class="bi bi-cart-fill"></i>
                        </li>
                        <li class="nav-item p-2">
                          <button class="btn btn-login" href="#" >Connexion</button>
                        </li>
                        <li class="nav-item p-2">
                          <button class="btn btn-form">Inscription </button>
                        </li>
                      </div>
                    </div>
                  </nav>
                </header>
                <main>
                  <br>
                  <br>
                  <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                      <%= link_to albums_path, class: "navbar-brand" do %>
                        <%= image_tag "Logo_Discotech_horiz_blue", size: "170x34" %>
                      <% end %>
                       <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                        <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Offcanvas</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                          <ul class="navbar-nav me-auto align-items-center">
                            <form class="d-flex p-2">
                              <div class="input-group p-5">
                                <input type="text" class="form-control" placeholder="Rechercher des artistes, des albums, des genres ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-search" type="button" id="button-addon2">Search</button>
                              </div>
                            </form>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Explorer</a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Marketplace</a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Communauté</a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                              </div>
                            </li>
                          </ul>
                          <div class='nav-end navbar-nav align-items-center'>
                            <li class="nav-item cart-icon-cont p-2">
                              <i class="bi bi-cart-fill"></i>
                            </li>
                            <li class="nav-item dropdown">
                              <% if user_signed_in? %>
                                <li>
                                  <%= button_to "Log out", destroy_user_session_path, class:"btn btn-warning", method: :delete %>
                                </li>
                              <% else %>
                              </li>
                              <li class="nav-item dropdown d-flex justify-content-center">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Connexion</a>
                                <div class="dropdown-menu">
                                  <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-form dropdown-item' %><br/>
                                  <br/>
                                  <%= link_to "Log in", new_user_session_path, class: "btn btn-login dropdown-item " %>
                                </div>
                              <% end %>
                            </li>
                          </div>
                        </div>
                      </div>
                    </div>
                  </nav>
                  <div class="container">
                    <hr>
                    <h1>Colors palette</h1>
                    <h2>Primaries colors</h2>
                    <div class="row">
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #2d3232ff"></div>
                          <div class="hex-value">#2d3232</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #a3d9c8ff">
                          </div>
                          <div class="hex-value">#a3d9c8</div>
                        </li>
                      </div>
                    </div>
                    <h2>Monochromes colors</h2>
                    <div class="row">
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #2d3232ff">
                          </div>
                          <div class="hex-value">#2d3232</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #2E4D4D">
                          </div>
                          <div class="hex-value">#2E4D4D</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #738080">
                          </div>
                          <div class="hex-value">#738080</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #4D8080">
                          </div>
                          <div class="hex-value">#4D8080</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #B8CCCC">
                          </div>
                          <div class="hex-value">#B8CCCC</div>
                        </li>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #a3d9c8ff">
                          </div>
                          <div class="hex-value">#a3d9c8</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #64DFB8">
                          </div>
                          <div class="hex-value">#64DFB8</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #435952">
                          </div>
                          <div class="hex-value">#435952</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #28594A">
                          </div>
                          <div class="hex-value">#28594A</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #7CA699">
                          </div>
                          <div class="hex-value">#7CA699</div>
                        </li>
                      </div>
                    </div>
                    <h2>Double complementary colors</h2>
                    <div class="row">
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #A3D9C8">
                          </div>
                          <div class="hex-value">#A3D9C8</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #D9B8C2">
                          </div>
                          <div class="hex-value">#D9B8C2</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #ADCFD9">
                          </div>
                          <div class="hex-value">#ADCFD9</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #D9B38D">
                          </div>
                          <div class="hex-value">#D9B38D</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #98D99F">
                          </div>
                          <div class="hex-value">#98D99F</div>
                        </li>
                      </div>
                    </div>
                    <h2>Alternatives</h2>
                    <div class="row">
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #c49799ff">
                          </div>
                          <div class="hex-value">#c49799</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #fde74cff">
                          </div>
                          <div class="hex-value">#fde74c</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #6564dbff">
                          </div>
                          <div class="hex-value">#6564db</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #dee4b7">
                          </div>
                          <div class="hex-value">#e4ece7</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #e1c084">
                          </div>
                          <div class="hex-value">#e1c084</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #fb997e">
                          </div>
                          <div class="hex-value">#fb997e</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #74b8b6">
                          </div>
                          <div class="hex-value">#74b8b6</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #e7e3d4">
                          </div>
                          <div class="hex-value">#e7e3d4</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <h3>Warning</h3>
                          <div class="rect-box d-flex align-items-center" style="background: #dfa959">
                          </div>
                          <div class="hex-value">#dfa959</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <h3>Danger</h3>
                          <div class="rect-box d-flex align-items-center" style="background: #d0635a">
                          </div>
                          <div class="hex-value">#d0635a</div>
                        </li>
                      </div>
                      <h2>Gray shades</h2>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #2D3232">
                          </div>
                          <div class="hex-value">#af2795</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #738080">
                          </div>
                          <div class="hex-value">#738080</div>
                        </li>
                      </div>
                      <div class="col-sm-2">
                        <li class="color-container">
                          <div class="rect-box d-flex align-items-center" style="background: #ACBFBF">
                          </div>
                          <div class="hex-value">#ACBFBF</div>
                        </li>
                      </div>
                    </div>
                    <hr>
                    <h1>Buttons</h1>
                    <button class="btn" href="#">Classic</button>
                    <button class="btn btn-form" href="#">Inscription</button>
                    <button class="btn btn-search" href="#" >Search</button>
                    <button class="btn btn-search-alt">Search alt</button>
                    <button class="btn btn-info" href="#" >More info</button>
                    <button class="btn btn-login" href="#" >Connexion</button>
                    <button class="btn btn-warning" href="#" >Edit</button>
                    <button class="btn btn-danger" href="#" >Supprimer</button>
                    <button class="btn btn-danger" href="#" >Logout</button>
                    <br>
                    <br>
                    <button class="btn btn-sb" href="#" >Buy</button>
                    <button class="btn btn-sb" href="#" >Sell</button>
                    <br>
                    <button type="button" class="btn btn-w m-1">
                      <span class="btn-label">
                        <i class="bi bi-bookmark-star-fill"></i>
                      </span>  Add to whishlist
                    </button>
                    <button type="button" class="btn btn-w m-1">
                      <span class="btn-label">
                        <i class="bi bi-collection"></i>
                      </span>  Add to collection
                    </button>
                    <br>
                    <br>
                    <h1>Inputs/forms</h1>
                    <h1>Classics forms</h1>
                    <input class="form-control me-sm-2" type="search" placeholder="Prénom">
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                      <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                      <label for="floatingPassword">Password</label>
                    </div>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Rechercher des artistes, des albums, des genres ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-search" type="button" id="button-addon2">Search</button>
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>
                    <div class="mb-3">
                      <label for="formFile" class="form-label">Default file input example</label>
                      <input class="form-control" type="file" id="formFile">
                    </div>
                    <select class="form-select form-control" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <h2>Radio, checks and others</h2>
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                          <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                          <label class="form-check-label" for="defaultCheck2">
                            Disabled checkbox
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1">
                            Default radio
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                          <label class="form-check-label" for="exampleRadios2">
                            Second default radio
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                          <label class="form-check-label" for="exampleRadios3">
                            Disabled radio
                          </label>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="card">
                      <div class="row g-0">
                        <form>
                          <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="inputEmail3">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="inputPassword3">
                            </div>
                          </div>
                          <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                            <div class="col-sm-10">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                  Simple utilisateur
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                  Vendeur professionnel
                                </label>
                              </div>
                              <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                                <label class="form-check-label" for="gridRadios3">
                                  Third disabled radio
                                </label>
                              </div>
                            </div>
                          </fieldset>
                          <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                  Remember Me
                                </label>
                              </div>
                            </div>
                          </div>
                          <button type="submit" class="btn">Sign in</button>
                        </form>
                      </div>
                    </div>
                    <hr>
                    <h2>Accordion with symbols</h2>
                    <div class="container">
                      <p>In this example we have added a "plus" sign to each button. When the user clicks on the button, the "plus" sign is replaced with a "minus" sign.</p>
                      <button class="myaccordion">Formats</button>
                      <div class="mypanel">
                        <br>
                        <ul>
                          <li>Vinyl EP</li>
                          <li>CD</li>
                        </ul>
                      </div>
                      <br>
                      <button class="myaccordion">Labels</button>
                      <div class="mypanel">
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <br>
                      </div>
                      <button class="myaccordion">Tracklist</button>
                      <div class="mypanel">
                        <br>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Track</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">A1</th>
                              <td>La Femme D'Argent</td>
                            </tr>
                            <tr>
                              <th scope="row">A2</th>
                              <td>Sexy Boy</td>
                            </tr>
                            <tr>
                              <th scope="row">A3</th>
                              <td colspan="2">All I Need</td>
                            </tr>
                            <tr>
                              <th scope="row">A4</th>
                              <td colspan="2">Kelly Watch The Stars</td>
                            </tr>
                            <tr>
                              <th scope="row">B1</th>
                              <td colspan="2">Talisman</td>
                            </tr>
                            <tr>
                              <th scope="row">B2</th>
                              <td colspan="2">Remember</td>
                            </tr>
                            <tr>
                              <th scope="row">B3</th>
                              <td colspan="2">You Make It Easy</td>
                            </tr>
                            <tr>
                              <th scope="row">B4</th>
                              <td colspan="2">Ce matin La</td>
                            </tr>
                            <tr>
                              <th scope="row">B5</th>
                              <td colspan="2">New Star In The Sky</td>
                            </tr>
                            <tr>
                              <th scope="row">B6</th>
                              <td colspan="2">Le Voyage De Penelope</td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                      </div>
                    </div>
                    <hr>
                    <h1>Albums</h1>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
                        </div>
                        <div class="flip-card-back flip-card-back-image text-center align-items-center">
                          <br>
                          <h2>Air</h2>
                          <h2>Moon Safari</h2>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                          <a href="#" class="btn btn-info">More info</a>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <hr>
                    <h1>Cards</h1>
                    <div class="card">
                      <div class="row g-0">
                        <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
                            </div>
                            <div class="flip-card-back flip-card-back-image text-center align-items-center">
                              <br>
                              <h2>Air</h2>
                              <h2>Moon Safari</h2>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p>
                              <a href="#" class="btn btn-info">More info</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-7">
                          <div class="card-body">
                            <h3 class="card-title"> Moon Safari</h3>
                            <h5> Air - 1998</h5>
                            <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
                          </div>
                          <div class="card-footer mb-4">
                            <a href="#" class="btn btn-info">More info</a>
                            <a href="#" class="btn btn-sb">Buy</a>
                            <a href="#" class="btn btn-sb">Sell</a>
                            <br>
                            <button type="button" class="btn btn-w m-1">
                              <span class="btn-label">
                                <i class="bi bi-collection"></i>
                              </span>  Add to collection
                            </button>
                            <button type="button" class="btn btn-w m-1">
                              <span class="btn-label">
                                <i class="bi bi-bookmark-star-fill"></i>
                              </span>  Add to whishlist
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="card">
                      <div class="row g-0">
                        <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
                            </div>
                            <div class="flip-card-back flip-card-back-image text-center align-items-center">
                              <br>
                              <h2>Air</h2>
                              <h2>Moon Safari</h2>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p>
                              <a href="#" class="btn btn-info">More info</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-7">
                          <div class="card-header ">
                            <h3 class="card-title"> Moon Safari</h3>
                            <h5 class="card-title">  Air - 1998</h5>
                            <h6> <strong>Label </strong>: Parlophone – 190296159305 </h6>
                            <h6> <strong>Format</strong> : Vinyl Me, Please. Essentials – E122</h6>
                            <h6> <strong>Pays </strong>: US </h6>
                            <h6> <strong>Sortie</strong> : févr. 2023 </h6>
                            <h6> <strong>Genre </strong>: Electronic </h6>
                            <h6> <strong>Style </strong>: Future Jazz, Downtempo, Synth-pop </h6>
                            <div class="card-footer mb-4">
                              <a href="#" class="btn btn-info">More info</a>
                              <a href="#" class="btn btn-sb">Buy</a>
                              <a href="#" class="btn btn-sb">Sell</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="card">
                      <div class="row g-0">
                        <h3 class="card-title"> Moon Safari</h3>
                        <h5 class="card-title">  Air - 1998</h5>
                        <h5 class="card-title text-center"> <strong>Tracklist</strong> </h5>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Track</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">A1</th>
                              <td>La Femme D'Argent</td>
                            </tr>
                            <tr>
                              <th scope="row">A2</th>
                              <td>Sexy Boy</td>
                            </tr>
                            <tr>
                              <th scope="row">A3</th>
                              <td colspan="2">All I Need</td>
                            </tr>
                            <tr>
                              <th scope="row">A4</th>
                              <td colspan="2">Kelly Watch The Stars</td>
                            </tr>
                            <tr>
                              <th scope="row">B1</th>
                              <td colspan="2">Talisman</td>
                            </tr>
                            <tr>
                              <th scope="row">B2</th>
                              <td colspan="2">Remember</td>
                            </tr>
                            <tr>
                              <th scope="row">B3</th>
                              <td colspan="2">You Make It Easy</td>
                            </tr>
                            <tr>
                              <th scope="row">B4</th>
                              <td colspan="2">Ce matin La</td>
                            </tr>
                            <tr>
                              <th scope="row">B5</th>
                              <td colspan="2">New Star In The Sky</td>
                            </tr>
                            <tr>
                              <th scope="row">B6</th>
                              <td colspan="2">Le Voyage De Penelope</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  
                  <h1> Footer </h1>
                  <div class="footer-basic">
                    <footer>
                      <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                      <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">Home</a></li>
                        <li class="list-inline-item"><a href="#">Services</a></li>
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><a href="#">Mentions légales</a></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                      </ul>
                      <p class="copyright">Company Name © 2018</p>
                    </footer>
                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="inverted-border-radius"></div>
                </main>
              </body>
            </html>

                </div>
              </nav>
          </header> 
<main>
<br>
<br>





<div class="container"> 

<hr>

<h1>Colors palette</h1>
<h2>Primaries colors</h2>
<div class="row">
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #2d3232ff"></div>
      <div class="hex-value">#2d3232</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #a3d9c8ff">
      </div>
      <div class="hex-value">#a3d9c8</div>
    </li>
  </div>
</div>


<h2>Monochromes colors</h2>
<div class="row">
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #2d3232ff">
      </div>
      <div class="hex-value">#2d3232</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #2E4D4D">
      </div>
      <div class="hex-value">#2E4D4D</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #738080">
      </div>
      <div class="hex-value">#738080</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #4D8080">
      </div>
      <div class="hex-value">#4D8080</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #B8CCCC">
      </div>
      <div class="hex-value">#B8CCCC</div>
    </li>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #a3d9c8ff">
      </div>
      <div class="hex-value">#a3d9c8</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #64DFB8">
      </div>
      <div class="hex-value">#64DFB8</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #435952">
      </div>
      <div class="hex-value">#435952</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #28594A">
      </div>
      <div class="hex-value">#28594A</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #7CA699">
      </div>
      <div class="hex-value">#7CA699</div>
    </li>
  </div>
</div>

<h2>Double complementary colors</h2>
<div class="row">
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #A3D9C8">
      </div>
      <div class="hex-value">#A3D9C8</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #D9B8C2">
      </div>
      <div class="hex-value">#D9B8C2</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #ADCFD9">
      </div>
      <div class="hex-value">#ADCFD9</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #D9B38D">
      </div>
      <div class="hex-value">#D9B38D</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
     <h3>Success</h3>
      <div class="rect-box d-flex align-items-center" style="background: #98D99F">
      </div>
      <div class="hex-value">#98D99F</div>
    </li>
  </div>
</div>


<h2>Alternatives</h2>
<div class="row">
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #c49799ff">
      </div>
      <div class="hex-value">#c49799</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #fde74cff">
      </div>
      <div class="hex-value">#fde74c</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #6564dbff">
      </div>
      <div class="hex-value">#6564db</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #dee4b7">
      </div>
      <div class="hex-value">#e4ece7</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #e1c084">
      </div>
      <div class="hex-value">#e1c084</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #fb997e">
      </div>
      <div class="hex-value">#fb997e</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #74b8b6">
      </div>
      <div class="hex-value">#74b8b6</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #e7e3d4">
      </div>
      <div class="hex-value">#e7e3d4</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
    <h3>Warning</h3>
      <div class="rect-box d-flex align-items-center" style="background: #dfa959">
      </div>
      <div class="hex-value">#dfa959</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <h3>Danger</h3>
      <div class="rect-box d-flex align-items-center" style="background: #d0635a">
      </div>
      <div class="hex-value">#d0635a</div>
    </li>
  </div>



  <h2>Gray shades</h2>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #2D3232">
      </div>
      <div class="hex-value">#af2795</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #738080">
      </div>
      <div class="hex-value">#738080</div>
    </li>
  </div>
  <div class="col-sm-2">
    <li class="color-container">
      <div class="rect-box d-flex align-items-center" style="background: #ACBFBF">
      </div>
      <div class="hex-value">#ACBFBF</div>
    </li>
  </div>  
</div>
<hr>



  <h1>Buttons</h1>
  <button class="btn" href="#">Classic</button>
  <button class="btn btn-form" href="#">Inscription</button>
  <button class="btn btn-search" href="#" >Search</button>
  <button class="btn btn-search-alt">Search alt</button>
  <button class="btn btn-info" href="#" >More info</button>
  <button class="btn btn-login" href="#" >Connexion</button>
  <button class="btn btn-success" href="#" >Success</button>
  <button class="btn btn-warning" href="#" >Edit</button>
  <button class="btn btn-danger" href="#" >Supprimer</button>


  <br>
  <br>
  <button class="btn btn-sb" href="#" >Buy</button>
  <button class="btn btn-sb" href="#" >Sell</button>
  <br>
  <button type="button" class="btn btn-w m-1">
    <span class="btn-label">
      <i class="bi bi-bookmark-star-fill"></i>
    </span>  Add to whishlist
  </button>
  <button type="button" class="btn btn-w m-1">
    <span class="btn-label">
      <i class="bi bi-collection"></i>
    </span>  Add to collection
  </button>
  <br>
  <br>

  <h1>Inputs/forms</h1>
  <h1>Classics forms</h1>
  <input class="form-control me-sm-2" type="search" placeholder="Prénom">

  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  


  <div class="input-group">
    <input type="text" class="form-control" placeholder="Rechercher des artistes, des albums, des genres ..." aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-search" type="button" id="button-addon2">Search</button>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>

  <div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile">
  </div>

  <select class="form-select form-control" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>

  <h2>Radio, checks and others</h2>
  <div class="row">
    <div class="col-sm-2">
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
  </div>
</div>
<div class="col-sm-2">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Default checkbox
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
  <label class="form-check-label" for="defaultCheck2">
    Disabled checkbox
  </label>
</div>
</div>
<div class="col-sm-2">
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Default radio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Second default radio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
  <label class="form-check-label" for="exampleRadios3">
    Disabled radio
  </label>
</div>
</div>
</div>
  <br>
  <br>



  <div class="card">
    <div class="row g-0">
  <form>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3">
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            Simple utilisateur
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Vendeur professionnel
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </fieldset>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Remember Me
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn">Sign in</button>
  </form>
    </div>
  </div>

  <hr>

  <h2>Accordion with symbols</h2>

  <div class="container">
    <p>In this example we have added a "plus" sign to each button. When the user clicks on the button, the "plus" sign is replaced with a "minus" sign.</p>
    <button class="myaccordion">Formats</button>
    <div class="mypanel">
      <br>
      <ul>
        <li>Vinyl EP</li>
        <li>CD</li>
      </ul>
    </div>
    <br>
    <button class="myaccordion">Labels</button>
    <div class="mypanel">
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br>
    </div>
    <button class="myaccordion">Tracklist</button>
    <div class="mypanel">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Track</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">A1</th>
            <td>La Femme D'Argent</td>
          
          </tr>
          <tr>
            <th scope="row">A2</th>
            <td>Sexy Boy</td>

          </tr>
          <tr>
            <th scope="row">A3</th>
            <td colspan="2">All I Need</td>
          </tr>
          <tr>
            <th scope="row">A4</th>
            <td colspan="2">Kelly Watch The Stars</td>
          </tr>
          <tr>
            <th scope="row">B1</th>
            <td colspan="2">Talisman</td>
          </tr>
          <tr>
            <th scope="row">B2</th>
            <td colspan="2">Remember</td>
          </tr>
          <tr>
            <th scope="row">B3</th>
            <td colspan="2">You Make It Easy</td>
          </tr>
          <tr>
            <th scope="row">B4</th>
            <td colspan="2">Ce matin La</td>
          </tr>
          <tr>
            <th scope="row">B5</th>
            <td colspan="2">New Star In The Sky</td>
          </tr>
          <tr>
            <th scope="row">B6</th>
            <td colspan="2">Le Voyage De Penelope</td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>

  <hr>

  <h1>Albums</h1>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="flip-card-back flip-card-back-image text-center align-items-center">
        <br>
        <h2>Air</h2> 
        <h2>Moon Safari</h2> 
        <p>Architect & Engineer</p> 
        <p>We love that guy</p>
        <a href="#" class="btn btn-info">More info</a>
      </div>
    </div>
  </div>
  

  <br>
  <br>
  
  <hr>

  
  <h1>Cards</h1>
  <div class="card">
    <div class="row g-0">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="flip-card-back flip-card-back-image text-center align-items-center">
            <br>
            <h2>Air</h2> 
            <h2>Moon Safari</h2> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
            <a href="#" class="btn btn-info">More info</a>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card-body">
          <h3 class="card-title"> Moon Safari</h3>
          <h5> Air - 1998</h5> 
          <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
        </div>
        <div class="card-footer mb-4">
          <a href="#" class="btn btn-info">More info</a>
          <a href="#" class="btn btn-sb">Buy</a>
          <a href="#" class="btn btn-sb">Sell</a>
          <br>
          <button type="button" class="btn btn-w m-1">
            <span class="btn-label">
              <i class="bi bi-collection"></i>
            </span>  Add to collection
          </button>
          <button type="button" class="btn btn-w m-1">
            <span class="btn-label">
              <i class="bi bi-bookmark-star-fill"></i>
            </span>  Add to whishlist
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  <br>

  <div class="card">
    <div class="row g-0">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="flip-card-back flip-card-back-image text-center align-items-center">
            <br>
            <h2>Air</h2> 
            <h2>Moon Safari</h2> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
            <a href="#" class="btn btn-info">More info</a>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card-header ">
          <h3 class="card-title"> Moon Safari</h3>
          <h5 class="card-title">  Air - 1998</h5> 
            <h6> <strong>Label </strong>: Parlophone – 190296159305 </h6>
            <h6> <strong>Format</strong> : Vinyl Me, Please. Essentials – E122</h6>
            <h6> <strong>Pays </strong>: US </h6>
            <h6> <strong>Sortie</strong> : févr. 2023 </h6>
            <h6> <strong>Genre </strong>: Electronic </h6>
            <h6> <strong>Style </strong>: Future Jazz, Downtempo, Synth-pop </h6>
        <div class="card-footer mb-4">
          <a href="#" class="btn btn-info">More info</a>
          <a href="#" class="btn btn-sb">Buy</a>
          <a href="#" class="btn btn-sb">Sell</a>
          
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

  <div class="card">
    <div class="row g-0">
      <h3 class="card-title"> Moon Safari</h3>
      <h5 class="card-title">  Air - 1998</h5> 
      <h5 class="card-title text-center"> <strong>Tracklist</strong> </h5> 
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Track</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">A1</th>
            <td>La Femme D'Argent</td>
          
          </tr>
          <tr>
            <th scope="row">A2</th>
            <td>Sexy Boy</td>

          </tr>
          <tr>
            <th scope="row">A3</th>
            <td colspan="2">All I Need</td>
          </tr>
          <tr>
            <th scope="row">A4</th>
            <td colspan="2">Kelly Watch The Stars</td>
          </tr>
          <tr>
            <th scope="row">B1</th>
            <td colspan="2">Talisman</td>
          </tr>
          <tr>
            <th scope="row">B2</th>
            <td colspan="2">Remember</td>
          </tr>
          <tr>
            <th scope="row">B3</th>
            <td colspan="2">You Make It Easy</td>
          </tr>
          <tr>
            <th scope="row">B4</th>
            <td colspan="2">Ce matin La</td>
          </tr>
          <tr>
            <th scope="row">B5</th>
            <td colspan="2">New Star In The Sky</td>
          </tr>
          <tr>
            <th scope="row">B6</th>
            <td colspan="2">Le Voyage De Penelope</td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</div>

<h1> Footer </h1>
  <div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Mentions légales</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2018</p>
    </footer>
</div>

<br>
<br>
<br>

<div class="inverted-border-radius"></div>

</main>
</body>
</html>


