<h1>Editer l'utilisateur</h1>
<%= link_to "retour", @user, class: 'btn btn-success' %>
<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> interdit l'enregistrement de cet utilisateur :</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class= 'mt-4'>
    <%= form.label :Prénom, style: "display: block" %>
    <%= form.text_field :Prénom, class: 'form-control' %>
  </div>
  <div class= 'mt-4'>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom, class: 'form-control' %>
  </div>
  <div class= 'mt-4'>
    <%= form.label :adresse, style: "display: block" %>
    <%= form.text_field :adresse, class: 'form-control' %>
  </div>
  <div class= 'mt-4'>
    <%= form.label :code_postal, style: "display: block" %>
    <%= form.text_field :code_postal, class: 'form-control' %>
  </div>
  <div class= 'mt-4'>
    <%= form.label :ville, style: "display: block" %>
    <%= form.text_field :ville, class: 'form-control' %>
  </div>
  <div class= 'mt-4'>
    <%= form.label :pays, style: "display: block" %>
    <%= form.text_field :pays, class: 'form-control' %>
  </div>
  <div class= 'mt-4'>
    <%= form.label :téléphone, style: "display: block" %>
    <%= form.text_field :téléphone, class: 'form-control' %>
  </div>
  <div class='row mt-4'>
    <div class= 'col-sm-5'>
      <div class= ''>
        <%= form.submit class: 'btn btn-form' %>
      </div>
    </div>
    <div class= ''>
      <h3>Changer d'avatar ?</h3>
    </div>
  <% end %>
  <div class= 'col-sm-3'>
    <%= form_tag user_avatars_path(@user), multipart: true do %>
      <%= file_field_tag :avatar %>
      <%= submit_tag "mettre à jour" %>
    <% end %>
  </div>
</div>
