<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= user.zip_code %>
  </p>

  <p>
    <strong>City name:</strong>
    <%= user.city_name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= user.country %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

<%= %>

  <p>
      <%= link_to "Show this user", user, class: 'btn btn-info' %>
    </p>

  <hr>
  <div>
  <%= link_to "Edit this user", edit_user_path(user), class: 'btn btn-form' %> 
  <%= link_to "Back to users", users_path, class: 'btn' %>
  <%= button_to "Destroy this user", user, method: :delete, class: 'btn btn-danger' %>
</div>

</div>
