<div id="<%= dom_id user %>">
  <p>
    <strong>Prénom :</strong>
    <%= user.first_name %>
  </p>
  <p>
    <strong>Nom :</strong>
    <%= user.last_name %>
  </p>
  <p>
    <strong>Adresse :</strong>
    <%= user.address %>
  </p>
  <p>
    <strong>Code Postal :</strong>
    <%= user.zip_code %>
  </p>
  <p>
    <strong>Ville :</strong>
    <%= user.city_name %>
  </p>
  <p>
    <strong>Pays :</strong>
    <%= user.country %>
  </p>
  <p>
    <strong>Téléphone :</strong>
    <%= user.phone %>
  </p>
  <% if action_name == "index" %>
  <p>
    <%= link_to "Profil de l'utilisateur", user, class: 'btn btn-info' %>
  </p>
  <%end%>
  <hr>
  <div>
    <%= link_to "Editer les informations", edit_user_path(user), class: 'btn btn-form' %>
    <%= link_to "Tous les utilisateurs", users_path, class: 'btn' %>
    <%= button_to "Supprimer l'utilisateur", user, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
