<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field mt-4">
    <%= f.label :password, "Nouveau mot de passe" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> charactères au minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control"  %>
  </div>

  <div class="field mt-4 mb-4">
    <%= f.label :password_confirmation, "Confirmer" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "nouveau-mot-de-passe", class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit "Changer de mot de passe", class: 'btn btn-form' %>
  </div>
<% end %>