<%= render partial: "shared/divider"%>
<h2>Mot de passe oublié ?</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field mt-4 mb-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class= "mt-4 mb-4">
    <%= f.submit "Reinitialiser le mot de passe", class: "btn btn-form" %>
  </div>
<% end %>
