<div class = "row", data-turbo="false">
  <div class = "col-sm-3 col-md-6 col-lg-3">
    <%= image_tag(collection.album.image_url, :size => "200x200", alt: "album") %>
    <% if controller_name == "marketplaces" && current_user != collection.user %>
      <%= render partial: "shared/add_to_cart", locals: {collection: collection} %>
    <%end%>
    <% if action_name == "show" %>
      <%= link_to "Retour à toutes les annonces", marketplaces_path, class: 'btn' %>
    <% end %>
    <% if controller_name == 'wishlist' && current_user == collection.user %>
      <%= render partial: 'shared/remove_wished', locals: {collection: collection} %>
    <%end%>
    <% if controller_name == "collection" && current_user == collection.user %>
      <%= render partial: 'shared/remove_collection', locals: {collection: collection} %>
    <%end%>
    <% if controller_name == "collection" && current_user == collection.user && collection.pas_en_vente? %>
      <%= render partial: 'shared/sell_button', locals: {collection: collection} %>
    <%end%>
     <% if controller_name == "ads" && current_user == collection.user %>
      <%= render partial: 'shared/unsell_button', locals: {collection: collection} %>
    <%end%>
  </div>
  <div class="col-sm-4 col-md-6 col-lg-4">
    <div class="card-header ">
      <h3 class="card-title"> <%= collection.album.title %></h3>
      <h5 class="card-title">  <%= collection.album.artist %> - <%= collection.album.year %></h5>
      <h4 class="card-title"> <strong>€ <%= collection.album.price %></strong></h4>
      <%= render partial: "shared/link_release", locals: {collection: collection} %>
    </div>
  </div>
  <% if controller_name == "albums" && action_name == "show" %>
    <div class="col-sm-3">
      <button class="myaccordion">Labels</button>
      <div class="mypanel">
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <br>
      </div>
    </div>
  <% end %>
  <div class="col-sm-4">
    <button class="myaccordion">Vendeur</button>
    <div class="mypanel">
      <br>
      <p><%= collection.user.first_name%> <%= collection.user.last_name%> </p>
      <br>
    </div>
    <button class="myaccordion">Etat de l'album</button>
    <div class="mypanel">
      <br>
      <p><strong>Etat de la pochette : </strong> <%= collection.sleeve_condition.gsub("_", " ").capitalize %></p>
      <p><strong>Etat du vinyl : </strong> <%= collection.media_condition.gsub("_", " ").capitalize%> </p>
      <br>
    </div>
  </div>
</div>
