<h2>Vendeur à la une</h2>
<% @release = get_non_empty_release %>
<%= render partial: 'shared/cover', locals: {release: @release} %>
<p><strong>Nom</strong> : <%= @release.artists[0].name %></p>
<p><strong>Titre album</strong> : <%= @release.title %></p>
<p><strong>Label</strong> : <%= @release.labels[0].name %></p>
<p><strong>Pays</strong> : <%= @release.country %></p>
<p><strong>Date sortie</strong> : <%= @release.year %></p>
<p><strong>Genre</strong> : <%= @release.genres[0] %></p>
<p><strong>Style</strong> : <%= @release.styles[0] %></p>

