<p style="color: green"><%= notice %></p>
<br>
<br>
<div class="container">
  <div class="row d-flex justify-content-between text-center">
    <div class= "col-6">
      <%= render partial: "home/best_seller", layout: "shared/card_layout" %>
    </div>
    <div class= "col-6">
      <%= render partial: "home/best_sell", layout: "shared/card_layout" %>
    </div>
  </div>
</div>
<br>
<br>
<h1>Albums</h1>
</div>
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col">
            <%= render partial: 'shared/cover', locals: {release: get_non_empty_release} %>
          </div>
          <div class="col">
            <%= render partial: 'shared/cover', locals: {release: get_non_empty_release} %>
          </div>
          <div class="col">
            <%= render partial: 'shared/cover', locals: {release: get_non_empty_release} %>
          </div>
          <div class="col">
            <%= render partial: 'shared/cover', locals: {release: get_non_empty_release} %>
          </div>
          <div class="col">
            <%= render partial: 'shared/cover', locals: {release: get_non_empty_release} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col">
            <%= render partial: 'shared/cover', locals: {release: get_non_empty_release} %>
          </div>
          <div class="col">
            <%= render partial: 'shared/cover', locals: {release: get_non_empty_release} %>
          </div>
          <div class="col">
            <%= render partial: 'shared/cover', locals: {release: get_non_empty_release} %>
          </div>
          <div class="col">
            <%= render partial: 'shared/cover', locals: {release: get_non_empty_release} %>
          </div>
          <div class="col">
            <%= render partial: 'shared/cover', locals: {release: get_non_empty_release} %>
          </div>
        </div>
      </div>
    </div>
  </div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
</div>
<br>
