<p style="color: green"><%= notice %></p>
<br>
<br>
<div class="my-jumbotron">
  <h1 class= "text-jumbotron"> Bienvenue sur Discotech </h1>
  <div class="slider">
    <div class="slide-track">
      <% 12.times do %>
        <div class="slide">
          <%= image_tag(Album.all.sample.image_url, :size => "150x150") %>
        </div>
      <%end%>
    </div>
  </div>
  <div class="slider">
    <div class="anti-slide-track">
      <% 12.times do %>
        <div class="slide">
          <%= image_tag(Album.all.sample.image_url, :size => "150x150") %>
        </div>
      <%end%>
    </div>
  </div>
</div>
<div class="container-homepage">
  <div class="container ">
    <div class="row d-flex justify-content-center text-center">
      <div class= "col-6">
        <%= render partial: "home/best_seller", layout: "shared/card_layout", locals: {album: @album_best_seller} %>
      </div>
      <div class= "col-6">
        <%= render partial: "home/best_sell", layout: "shared/card_layout", locals: {album: @best_sell} %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class='row'>
    <% @albums.each do |album| %>
      <div class= 'col mt-4'>
        <%= render partial: 'shared/cover', locals: {album: album} %>
      </div>
    <%end%>
  </div>
  <br>
</div>
<div class="container-homepage">
  <div class="container">
    <div class='row'>
      <div class='col'>
        <%= render partial: 'devise/shared/signup', layout: 'shared/card_layout' %>
      </div>
      <div class='col'>
      <%= render partial: 'devise/shared/signin', layout: 'shared/card_layout' %>
      </div>
    </div>
  </div>
</div>
