<div id="<%= dom_id album %>">
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= album.artist %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= album.year %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= album.price %>
  </p>

</div>
