<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(album.errors.count, "error") %> Interdit la sauvegarde de cet album :</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :artiste, style: "display: block" %>
    <%= form.text_field :artiste %>
  </div>

  <div>
    <%= form.label :année, style: "display: block" %>
    <%= form.number_field :année %>
  </div>

  <div>
    <%= form.label :prix, style: "display: block" %>
    <%= form.text_field :prix %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
