<h2>Album details</h2>
<p>Nom : <%= @release.artists[0].name =%></p>
<p>Titre album : <%= @release.title =%></p>
<p>Label : <%= @release.labels[0].name =%></p>
<p>Formats disponibles : <%= @release.formats[0].descriptions =%></p>
<p>Pays : <%= @release.country =%></p>
<p>Date sortie : <%= @release.date_added =%></p>
<p>Style : <%= @release.styles =%></p>
<div class="col-sm-4">
</div>
<div class="col-sm-4">
  <button class="myaccordion">Tracklist</button>
  <div class="mypanel">
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Track</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        <% @release.tracklist.each do |track| %>
          <tr>
            <td><%= track.position %></td>
            <td><%= track.title %></td>
            <td><%= track.duration %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>
<div class="col-sm-4">
</div>
