<h1>Releases#show</h1>
<p>Find me in app/views/releases/show.html.erb</p>
<h2>Album details</h2>
<p>Nom : <%= @wrapper.get_artist("89865").name =%></p>
<p>Titre album : <%= @wrapper.get_release("240536").title =%></p>
<p>Label : <%= @wrapper.get_release("240536").labels[0].name =%></p>
<p>Formats disponibles : <%= @wrapper.get_release("240536").formats[0].descriptions =%></p>
<p>Pays : <%= @wrapper.get_release("240536").country =%></p>
<p>Date sortie : <%= @wrapper.get_release("240536").date_added =%></p>
<p>Style : <%= @wrapper.get_release("240536").styles =%></p>
<div class="col-sm-4">
</div>
<div class="col-sm-4">
  <button class="myaccordion">Tracklist</button>
  <div class="mypanel">
    <br>
    <table class="table">
      <thead>
        <tr>
          <li>
            <th scope="col">#</th>
            <th scope="col">Track</th>
            <th scope="col">Duration</th>
          </li>
        </tr>
      </thead>
      <tbody>
        <% @release.each do |album| %>
          <tr>
            <th scope="row"><%= @release.tracklist[0].position %></th>
            <td><%= @release.tracklist[0].title %></td>
            <td><%= @release.tracklist[0].duration %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>
<div class="col-sm-4">
</div>

      *********
      <%= @release.tracklist[0] %><br>
      <%= @release.tracklist[0].class %><br>
      !!!!!!!!!!!!<br>
      <%= @release.tracklist[0].position %><br>
      <%= @release.tracklist[0].position.class %><br>