<div class="footer-basic expand-lg">
  <footer>
    <div class="social">
      <%= link_to "https://github.com/MacDielly", class: "icon ion-social-linkedin", target: :_blank do %>
        <%= image_tag "chameleon.png", size: "32x32" %>
      <% end %>
      <%= link_to "https://github.com/Djo-75", class: "icon ion-social-linkedin", target: :_blank do %>
        <%= image_tag "chick.png", size: "32x32" %>
      <% end %>
      <%= link_to "https://www.youtube.com/watch?v=dQw4w9WgXcQ", class: "icon ion-social-linkedin", target: :_blank do %>
        <%= image_tag "koala.png", size: "32x32" %>
      <% end %>
      <%= link_to "https://soundcloud.com/lifelikefat", class: "icon ion-social-linkedin", target: :_blank do %>
        <%= image_tag "elephant.png", size: "32x32" %>
      <% end %>
      <%= link_to "https://github.com/Perzisso?tab=repositories", class: "icon ion-social-linkedin", target: :_blank do %>
        <%= image_tag "bee.png", size: "32x32" %>
      <% end %>
    </div>
    <p class="copyright">Discotech © 2023</p>
  </footer>
</div>
