<div class="footer-basic expand-lg">
  <footer>
    <div class="social">
      <%= link_to "https://github.com/MacDielly", class: "icon ion-social-linkedin" do %>
        <%= image_tag "chameleon", size: "34x34" %>
      <% end %>
      <%= link_to "https://github.com/Djo-75", class: "icon ion-social-linkedin" do %>
        <%= image_tag "chick", size: "34x34" %>
      <% end %>
      <%= link_to "https://www.youtube.com/watch?v=dQw4w9WgXcQ", class: "icon ion-social-linkedin" do %>
        <%= image_tag "koala", size: "34x34" %>
      <% end %>
      <%= link_to "https://soundcloud.com/lifelikefat", class: "icon ion-social-linkedin" do %>
        <%= image_tag "elephant", size: "34x34" %>
      <% end %>
      <%= link_to "https://github.com/Perzisso?tab=repositories", class: "icon ion-social-linkedin" do %>
        <%= image_tag "bee", size: "34x34" %>
      <% end %>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Services</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Mentions légales</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Discotech © 2023</p>
  </footer>
</div>
