<ul class="nav flex-column">
  <li class="nav-item-sidebar">
      <i class="bi bi-person-circle"></i>
      <%=link_to "Mon Profil", user_path(current_user.id)%>
    </li>
    <li class="nav-item-sidebar">
      <i class="bi bi-vinyl"></i>
      <%=link_to "Ma collection", user_path(current_user.id)%>
    </li>
    <li class="nav-item-sidebar">
      <i class="bi bi-bookmark-star"></i>
      <%=link_to "Ma whishlist", user_path(current_user.id)%>
    </li>
    <li class="nav-item-sidebar">
      <i class="bi bi-file-earmark-richtext"></i>
      <%=link_to "Mes annonces", user_path(current_user.id)%>
    </li>
    <li class="nav-item-sidebar">
      <i class="bi bi-chat-left-dots"></i>
      <%=link_to "Mes messages", user_path(current_user.id)%>
    </li>
    <li class="nav-item-sidebar">
      <i class="bi bi-archive"></i>
      <%=link_to "Ma commandes passées", user_path(current_user.id)%>
    </li>
</ul>
