<div class='align-items-center m-5'>
<%if current_user.avatar.attached?%>
  <%= image_tag current_user.avatar.variant(resize_to_limit: [90, 90]) %>
<% else %>
  <p> Pas encore d'avatar </p>
<% end %>
</div>
<li class="nav-item-sidebar dropdown-item">
  <i class="bi bi-person-circle"></i>
  <a href= "<%=user_path(current_user.id)%>">Mon profil</a>
</li>
<li class="nav-item-sidebar dropdown-item">
  <i class="bi bi-vinyl"></i>
  <a href= "<%=user_collection_index_path(current_user.id)%>">Ma collection</a>
</li>
<li class="nav-item-sidebar dropdown-item">
  <i class="bi bi-bookmark-star"></i>
  <a href= "<%=user_wishlist_index_path(current_user.id)%>">Ma whishlist</a>
</li>
<li class="nav-item-sidebar dropdown-item">
  <i class="bi bi-file-earmark-richtext"></i>
  <a href= "<%=user_ads_path(current_user.id)%>">Mes annonces</a>
</li>
<li class="nav-item-sidebar dropdown-item">
  <i class="bi bi-archive"></i>
  <a href= "<%=user_orders_path(current_user.id)%>">Mes commandes</a>
</li>
