<li class="nav-item-sidebar dropdown-item">
  <i class="bi bi-person-circle"></i>
  <a href= "<%=user_path(current_user.id)%>">Mon profil</a>
</li>
<li class="nav-item-sidebar dropdown-item">
  <i class="bi bi-vinyl"></i>
  <a href= "<%=user_path(current_user.id)%>">Ma collection</a>
</li>
<li class="nav-item-sidebar dropdown-item">
  <i class="bi bi-bookmark-star"></i>
  <a href= "<%=user_path(current_user.id)%>">Ma wishlist</a>
</li>
<li class="nav-item-sidebar dropdown-item">
  <i class="bi bi-file-earmark-richtext"></i>
  <a href= "<%=user_path(current_user.id)%>">Mes annonces</a>
</li>
<li class="nav-item-sidebar dropdown-item">
  <i class="bi bi-chat-left-dots"></i>
  <a href= "<%=user_path(current_user.id)%>">Mes messages</a>
</li>
<li class="nav-item-sidebar dropdown-item">
  <i class="bi bi-archive"></i>
  <a href= "<%=user_path(current_user.id)%>">Mes commandes passées</a>
</li>
